<div style="color: black;" class="alert alert-success" role="alert" style="background-color: rgb(14, 12, 12);">
    <h4 class="alert-heading" style="text-decoration-color: white;">Dobro došli!</h4>
    <p style="text-align:justify; text-decoration-color: rgb(228, 12, 12);">Koliko je stara ljudska potreba da se sačuva tajna, da se krišom prenese informacija, da se šifruje poruka, toliko je stara nauka po imenu kriptografija. Šta je to kriptografija?
        Kriptografija - najednostavnije rečeno je kreiranje tajnih kodova tj. da se određenim postupkom (algoritmom) čitljivi tekst pretvara u gomilu slova i brojeva koje ništa ne znače. 
        Kriptografija na početku jest bila tehnika, ali u dodiru sa matematikom ona je postala nauka. 
        Nigdje matematika nije tako vjerno i predano služila čuvanju tajnih informacija kao u kriptografiji. 
        Kriptografija se u historiji zabilježila kao sredstvo i metoda zaštite i očuvanja tajnosti informacija. 
        U historiji kriptografije najzanimljivija poglavlja ispisana su u ratovima i vojnim operacijama gdje je čuvanje informacije bilo jako važno. 
        Ono što je nama poznato a postoje i dokazni materijali je primjer Telegrama koji je napisao Zimmerman, a koji je bio okidač ulaska Amerike u I sv. rat. 
        Šta je zapravo pisalo u Telegramu:
        Naime, Njemačka je pokušala da spriječi ulazak Amerike u rat tako što su poslali šifrovanu poruku (Telegram) Meksiku da izvrši napad na Ameriku (to se saznalo tek kasnije i to je osnova ulaska Amerike u I sv. rat). 
        Zašto bi Amerikanci napali Meksiko, pa iz razloga što je nekad u historiji dobar dio južnih dijelova SAD-a današnja teritorija Teksasa, Floride, Kalifornije bio dio Meksika pa se igralo na tu kartu. 
        Naravno Meksiko to nije uradio iz niza razloga, ali ostao je pisani trag. Amerikanci su imali Telegram, ali nije im bilo jasno o čemu se radi.
     Nekada u toku rata Englezi su zarobili na frontu knjigu šifri od Njemaca i proslijedili Amerikancima koji su na osnovu knjige šifri vrlo lahko dešifrovali poruku i našli su informacije da je Njemačka tražila da napadnu Ameriku i to je jedan od razloga ulaska Amerike u I sv. rat. 
        
</p>
<img src="Zimmermann.jpg" width="75%" height="30%">


   
    
    <hr>
    <p class="mb-0">Koristite sa zadovoljstvom.</p>
  </div>
