<div style="color: rgb(252, 247, 247);" class="alert alert-success" role="alert" style="background-color: rgb(2, 1, 1);">
    <br>
    <br> 
    <h6 style="text-align:center; color: white;">Kontakt forma</h6>
   
        <table style="width:30%">
           
            <tr>
              <td>Ime i prezime: Vedad Varupa</td>
              
            </tr>
            <tr>
              <td>Broj telefona: </td>
             
            </tr>
            <tr>
              <td>Grad: Vitez</td>
             
            </tr>
            <tr>
              <td>e-mail: varupa.vedad@hotmail.com</td>
             
            </tr>
            <tr>
              <td>Obrazovanje: prof. matematike</td>
              
            </tr>
            <tr>
              <td>Strani jezik: engleski</td>
              
            </tr>
            <tr>
              <td>Fotografija: PixelStudio.</td>
              
            </tr>
          </table>
      
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
      
      <hr>
    <p style="color: rgb(253, 250, 250);" class="mb-0">Koristite sa zadovoljstvom.</p>
  </div>
