body {
    background-image: url("img/10.jpg");
    background-repeat: no-repeat center center fixed;
    background-size: 100%;
    
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar{
    background-color: rgb(65, 65, 66);
    position: sticky;
    top: 0;
}
.navbar .navbar-brand{
    color: white;
}
.navbar .nav-link{
    color: white;
}
.navbar .nav-link:hover{
    color: yellowgreen;
}
.navbar .navbar-brand:hover{
    color: yellowgreen;
}
.navbar .navbar-collapse .dropdown-menu {
    background-color:rgb(65, 65, 66);
    opacity: 2;
}
.navbar .dropdown-item {
color:white;
}
.navbar .dropdown-item:hover{
    background-color: rgb(143, 142, 142);
}