<nav class="navbar navbar-toggleable-md ">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   <a class="navbar-brand nav-tabs"
      routerLink="wedo" 
      [routerLinkActive]>Info</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav nav-tabs">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Teorija brojeva
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="teorija">Elementarna teorija brojeva</a>
            <a class="dropdown-item" routerLink="aritmetika">Aritmetika na grupi modulo n</a>
            <a class="dropdown-item" routerLink="grupa">Ciklične grupe</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Kriptografija
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="hkripto">Historija kriptografije</a>
            <a class="dropdown-item" routerLink="publickey">Kriptografija s javnim ključem</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modularna aritmetika
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="multiplic">Modularno množenje</a>
            <a class="dropdown-item" routerLink="division">Modularno dijeljenje</a>
            <a class="dropdown-item" routerLink="inverse">Multiplikativni inverz</a>
            <a class="dropdown-item" routerLink="exp">Modularno stepenovanje</a>
            <a class="dropdown-item" routerLink="kvadriraj">Metoda kvadriraj i množi</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Algoritmi za nzd
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="euklid">Euklidov algoritam</a>
            <a class="dropdown-item" routerLink="exteuklid">Prošireni Euklidov algoritam</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Testovi prostosti
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="fermat">Fermatov test</a>
            <a class="dropdown-item" routerLink="miler">Miller-Rabinov test</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink ="rsa" >RSA algoritam</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink ="contact" >Kontakt</a>
        </li>
      </ul>
    </div>
  </nav>
  
 