<div style="color: black;" class="alert alert-success" role="alert" style="background-color: rgb(14, 12, 12);">
    <h4 class="alert-heading" style="text-decoration-color: white;">Dobro došli!</h4>
    <p style="text-align:justify; text-decoration-color: rgb(228, 12, 12);">
        Kada govorimo o sigurnosti u modernom IT-u, nema nijednog mjesta a da nije kriptografija na bilo koji način prisutna. 
        Problem simetrične kriptografije je razmjena ključa. Ako nešto šifrujemo i šaljemo nekoj osobi B koja se nalazi na primjer u Beču. 
        Kako da osobi B predamo ključ. Da li e-mailom, lično mi odnesemo ili pošaljemo po nekome, javimo preko telefona i slično. 
        Nameće se pitanje kako riješiti razmjenu ključeva. I to je jedna od osnova zašto je nastala kriptografija javnog ključa. 
        Godine 1976. Whitfield Diffie i Martin Hellman su ponudili jedno moguće rješenje problema razmjene ključeva, zasnovano na činjenici da je u nekim grupama stepenovanje puno jednostavnije od logaritmiranja.
        Diffie i Helman se smatraju osnivačima kriptografije javnog ključa. Ideja kriptografije s javnim ključem je konstruisati takav kriptosistem da iz poznavanja funkcije za šifriranje se može jako teško dobiti funkcija za dešifriranje, 
        što znači da bi ta funkcija za šifriranje mogla biti javna. Tu posebnu ulogu imaju jednosmjerne funkcije, njihove vrijednosti je lahko računati, dok njihove inverze teško. Kriptosistemi koji koriste za šifriranje jednosmjerne funkcije, a za dešifriranje njihove inverze zovu se kriptosistemi s javnim ključem. 
        Dakle, funkcija za šifriranje je javni ključ, a funkcija za dešifriranje je privatni ključ. Kako to funkcioniše opisano je u poglavlju šest. Možemo napomenuti da je implementacija nastala kroz RSA algoritam. 
        Primjenom kriptografije s javnim ključem može da se postigne povjerljivost. Povjerljivost podrazumijeva siguran prijenos podataka preko nebezbijednih veza. Zatim, autentifikaciju i digitalni potpis koji obezbjeđuju integritet i neporecivost [2]. 
        Na primjer slanje šifrovanih e-mailova koristi RSA algoritam. 
        HTTPS koristi Diffie – Helmanov algoritam za razmjenu ključeva. WhatsApp koristi RSA. 
        SSL koristi RSA da obezbijedi serijske ključeve između web klijenata i bezbjednih servera. Tu su još šifriranje fajlova i diskova itd.
        Možemo reći da se kriptografski algoritmi danas mogu naći na internetu i kao source-cod i kao naučni radovi, 
        ali napadaču to ne znači ništa. Najvažnija stvar je ključ. Znači ključ je tajan dok kriptografski algoritmi nisu. 
        Vrijeme je pokazalo da svi algoritmi koji su se pravili tajni nisu ostali dugo tajni.
</p>


   
    
    <hr>
    <p class="mb-0">Koristite sa zadovoljstvom.</p>
  </div>
