<div style="color: rgb(252, 247, 247);" class="alert alert-success" role="alert" style="background-color: rgb(2, 1, 1);">
  <h4 style="color: rgb(26, 247, 37);" class="alert-heading">Dobro došli!</h4>
  <p  style="text-align:justify; color: white;">Na ovoj web aplikaciji možete pregledati i koristiti navedenu teoriju kako bi bolje shvatili funkcionisanje algoritama, kao i algoritme u modularnoj aritmetici. Algoritmi su implementirani u programskom jeziku Java. 
    Algoritmi su efikasni, tačni, i brzi s obzirom da rade sa ogromnim brojevima. Pregledajte padajući meni i izaberite šta volite.
    <br>
    U ovoj aplikaciji su implementirani algoritmi za modularno množenje, dijeljenje, stepenovanje, nalaženje inverznog elementa za operaciju množenja i metoda kvadriraj-i-množi. Zatim algoritmi za određivanje nzd, 
    algoritmi za testiranje prostosti i na kraju RSA algoritam. Web aplikacija je jednostavna i elegantna za korištenje. Aplikacija pruža veliku pomoć kao alat, prvenstveno zato što su ovi kriptografski algoritmi osnova za RSA. 
    Može se napomenuti da je aplikacija edukativnog karaktera i mogla bi biti korisno pomagalo za učenike i studente koje interesuje matematika i kriptografija.
    <br>
    <br>
     </p>
     <img src="rsa.png" width="1060px" height="387px">
     <br>
     <br>
     <br>
     <br>
     <br>
     
     
     
     

    
    <hr>
  <p style="color: rgb(253, 250, 250);" class="mb-0">Koristite sa zadovoljstvom.</p>
</div>

