<div style="color:white" class="alert alert-success" role="alert" style="background-color:  rgba(5, 1, 12, 0.61);">
    <h4 class="alert-heading">Dobro došli!</h4>
    <p style="color: rgb(252, 247, 247);">Algoritam za modularno stepenovanje radi na sljedeći način:<br>
      1. Unesite brojeve u prazna polja <br>
      2. Kliknite na dugme <button class="btn btn-primary">Calculate</button><br>
      3. Algoritam izračunava a^b mod n.</p><br>
   
    <br>
    <h4 style="color: white;" class="alert-heading">Modularno stepenovanje</h4>
    <label style="color: white;" for="num1">Unesite prvi broj</label>
    <br>
    <input type="text" [(ngModel)]="firstNumber">
    
    
    <br>
    <br>
    
    <label style="color: white;" for="num2">Unesite drugi broj</label>
    <br>
    <input type="text" [(ngModel)]="secondNumber">
    <br>
    <br>

    <label style="color: white;" for="num2">Unesite modulo n </label>
    <br>
    <input type="text" [(ngModel)]="thirdNumber">

    <br>
    <br>

    <button class="btn btn-primary" (click) = "calculateexp()">Calculate</button> 
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   
    <hr>
    <p class="mb-0">Koristite sa zadovoljstvom.</p>
  </div>
